html
  head
    title panagram.me
    script(src='bundle.js',type='text/javascript')
    link(href='main.css',rel='stylesheet')
body
  div#content
    input#text(type='text',placeholder='type some text here').underline
    div#results
